<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="taskName">Task Name</label>
    <input
      type="text"
      id="taskName"
      name="taskName"
      [(ngModel)]="taskName"
      class="form-control"
      required
    />
    <label for="assignedTo">Assigned To</label>
    <input
      type="text"
      id="assignedTo"
      name="assignedToAssignee"
      [(ngModel)]="assignedTo"
      class="form-control"
      required
    />
    <label for="taskDescription">Description</label>
    <textarea
      id="taskDescription"
      name="taskDescription"
      [(ngModel)]="taskDescription"
      class="form-control"
      rows="4"
    ></textarea>
  </div>
  <div class="buttons">
    <button mat-button class="cancelButton" (click)="onCancel()">Cancel</button>
    <button mat-button class="submitButton">Submit</button>
  </div>
</form>
